{{ define "title" }}About{{ end }}
{{ define "main" }}
  <h3>About</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab amet quo eius
    dolore! Voluptatum incidunt, vero, sunt maxime repudiandae dolores sapiente
    eligendi mollitia eum earum perferendis ut magnam obcaecati. Consequuntur.
  </p>
{{ end }}
